@font-face {
    font-family: Race1;
    src: url(../resources/fonts/dream-mma.ttf);
}

.race-number {
    font-family: Race1 !important;
}

.selected-row, .selected-row-after, .selected-row-after > table, .selected-row-after > table {
    background: none !important;
}

.group-table-striped > tbody > .info > td {
    background-color: #d9edf7;
}

.group-table-striped > tbody:hover > .info > td {
    background-color: #d9edf7;
}

.group-table-striped > tbody > tr > td {
    border: none !important;
}

.group-table-striped > tbody:nth-of-type(2n) > tr {
    background-color: #f9f9f9;
}

.group-table-striped > tbody:nth-of-type(2n + 1) > tr {
    background-color: white;
}

.group-table-hover > tbody:hover > tr > td {
    background-color: #f5f5f5;
}


.inner-table {
    background: transparent !important;
}

.goto-next {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);

    font-size: 65px;
    margin-left: -10px;
    color: gray;
}

.tag-remove-btn {
    font-size: 10px;
    font-weight: lighter;
    cursor: pointer;
}

.goto-next:hover {
    color: black;
}

.podium-label {
    border-radius: 50%;
    background: white;
    border: black solid 1px;
}

.data-editable textarea {
    border: 0;
    display: block;
    resize: none;
    font: inherit;
    padding: 0;
    margin: 0;
    outline: none;
    width: 100%;
    height: 20px;
    line-height: 1.7;
    background: transparent;
}

.data-editable tbody td {
    cursor: text;
}

.date-cell {
    /*text-decoration: none;*/
    color: #337ab7;
    border-bottom: dashed 1px #337ab7;
}

.with-scroll {
    overflow-y: scroll;
}

.middle-aligned {
    vertical-align: middle !important;
}

.non-selected .country {
    height: 20px;
}

.selected .important {
    font-size: 34px;
}

.selected .country {
    height: 48px;
}

.non-selected-additional {
    /* Initially we don't want any height, and we want the contents to be hidden */
    opacity: 0;
    max-height: 0;
    overflow: hidden;

    /* Set our transitions up. */
    -webkit-transition: opacity 1s, max-height 0.7s ease;
    -moz-transition: opacity 1s, max-height 0.7s ease;
    transition: opacity 1s, max-height 0.7s ease;

    /*-webkit-box-sizing: border-box;*/
    /*box-sizing: border-box;*/
}

.selected-additional {
    max-height: 500px;
    opacity: 1
}

.selected-heat-row > td {
    border-bottom: none !important;
}

.selected-heat-row-additional > td {
    border-top: none !important;
}

.btn-array{
    display: table;
}

.btn-array-row {
    display: table-row;
}

.btn-array-cell {
    display: table-cell;
}

.btn-array .btn-array-row:first-child .btn-array-cell:first-child .btn {
    border-top-left-radius: 4px;
}

.btn-array .btn-array-row:last-child .btn-array-cell:first-child .btn {
    border-bottom-left-radius: 4px;
}

.btn-array .btn-array-row:first-child .btn-array-cell:last-child .btn {
    border-top-right-radius: 4px;
}

.btn-array .btn-array-row:last-child .btn-array-cell:last-child .btn {
    border-bottom-right-radius: 4px;
}

.btn-array .btn-array-row .btn-array-cell .btn {
    border-radius: 0;
    width: 100%;
}



