@font-face {
    font-family: Race1;
    src: url(../resources/fonts/dream-mma.ttf);
}

.race-number {
    font-family: Race1;
}

.selected-row ~ .selected-row-after > td {
    border-bottom: none !important;
}

.selected-row + .selected-row-after > td {
    border-top: none !important;
}

.selected-row, .selected-row-after, .selected-row-after td, .selected-row-after th {
    background: whitesmoke !important;
}



