@font-face {
    font-family: Race1;
    src: url(../resources/fonts/dream-mma.ttf);
}

.race-number {
    font-family: Race1 !important;
}

.selected-row ~ .selected-row-after > td {
    border-bottom: none !important;
}

.selected-row + .selected-row-after > td {
    border-top: none !important;
}

.selected-row, .selected-row-after, .selected-row-after td, .selected-row-after th {
    background: whitesmoke !important;
}


.podium-label {
    border-radius: 50%;
    background: white;
    border: black solid 1px;
}
.data-editable textarea {
    border: 0;
    display: block;
    resize: none;
    font: inherit;
    padding: 0;
    margin: 0;
    outline: none;
    width: 100%;
    height: 20px;
    background: transparent;
}
.data-editable tbody td {
    cursor: text;
}

.date-cell {
    /*text-decoration: none;*/
    color: #337ab7;
    border-bottom: dashed 1px #337ab7;
}

.with-scroll {
    overflow-y: scroll;
}



